@model List<Rentaly.EntityLayer.Entities.FAQ>

<section id="section-faq">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Sık Sorulan Sorular?</h2>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row g-custom-x">

            <div class="col-md-6 wow fadeInUp">
                <div class="accordion secondary">
                    <div class="accordion-section">
                        @foreach (var item in Model.Take(3))
                        {
                            <div class="accordion-section-title" data-tab="#accordion-@item.FAQId">
                                @item.Title
                            </div>
                            <div class="accordion-section-content" id="accordion-@item.FAQId">
                                <p>@item.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-6 wow fadeInUp">
                <div class="accordion secondary">
                    <div class="accordion-section">
                        @foreach (var item in Model.Skip(3).Take(3))
                        {
                            <div class="accordion-section-title" data-tab="#accordion-@item.FAQId">
                                @item.Title
                            </div>
                            <div class="accordion-section-content" id="accordion-@item.FAQId">
                                <p>@item.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>