<section class="text-light jarallax">
	<img src="/RentalyHTML/images/background/2.jpg" class="jarallax-img" alt="">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeInRight">
				<h2>Müşterilerimize geniş bir yelpazede hizmet sunuyoruz <span class="id-color">ticari araçlar</span> ve <span class="id-color">lüks otomobiller için</span> herhangi bir vesileyle.</h2>
			</div>
			<div class="col-lg-6 wow fadeInLeft">
				Araç kiralama acentemizde, bütçeniz ne olursa olsun herkesin güvenilir ve konforlu bir araç kullanmanın keyfini yaşamayı hak ettiğine inanıyoruz. Şık sedanlardan geniş SUV'lara kadar, bakımlı araçlardan oluşan çeşitli bir filo oluşturduk ve tüm araçları rekabetçi fiyatlarla sunuyoruz. Basitleştirilmiş kiralama sürecimiz sayesinde, istediğiniz aracı hızlı ve kolay bir şekilde rezerve edebilirsiniz. İster iş seyahati, ister aile tatili için ulaşım ihtiyacınız olsun, isterse sadece bir hafta sonunun tadını çıkarmak isteyin, size uygun aracı bulabilirsiniz.…
			</div>
		</div>
		<div class="spacer-double"></div>
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 mb-sm-30">
				<div class="de_count transparent text-light wow fadeInUp">
					<h3 class="timer" data-to="@ViewBag.v1" data-speed="3000">0</h3>
					Araba sayımız
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-sm-30">
				<div class="de_count transparent text-light wow fadeInUp">
					<h3 class="timer" data-to="@ViewBag.v2" data-speed="3000">0</h3>
					Marka Sayımız
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-sm-30">
				<div class="de_count transparent text-light wow fadeInUp">
					<h3 class="timer" data-to="@ViewBag.v3" data-speed="3000">0</h3>
					Müşteri Sayısı
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-sm-30">
				<div class="de_count transparent text-light wow fadeInUp">
					<h3 class="timer" data-to="@ViewBag.v4" data-speed="3000">0</h3>
					Ödüllerimiz
				</div>
			</div>
		</div>
	</div>
</section>